@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,800;0,900;1,900&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #003554;
    color: #fff;
}
.clr-navbar {
    background-color: #032030;
}